mixin form__field(item, langTmpl, div, addedClasses, staticValidationRules)
        
    case item 
        when 'emailAddress'    
            li(class = addedClasses[item] ? addedClasses[item] : "")    
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='email'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-msg-email=langTmpl[item].emailMessage
                    data-rule-email="true"
                    data-lookup="C_EmailAddress"
                    aria-required="true")  

        when 'firstName'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_FirstName"
                    aria-required="true")

        when 'lastName'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_LastName"
                    aria-required="true")  

        when 'salutation'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Salutation"
                    aria-required="true")  
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect                    
                        each opt in langTmpl[item].options
                            include select\select__option.pug

        when 'company'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Company"
                    aria-required="true")  

        when 'city'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_City"
                    aria-required="true")  

        when 'zipPostal'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Zip_Postal"
                    aria-required="true")  

        when 'busPhone'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_BusPhone"
                    aria-required="true")  

        when 'address1'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Address1"
                    aria-required="true")  

        when 'address2'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=""
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Address2"
                    aria-required="true")  

        when 'country'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Country"
                    aria-required="true")
                        option(
                                value="" disabled="disabled" selected="selected"
                            )=langTmpl.defaultSelect                    
                            each opt in langTmpl[item].options
                                include select\select__option.pug  

        when 'elqGlobalLanguage'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel#elqLanguageLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup=""
                    aria-required="true")
                        option#elqDefaultLanguageOption(
                                value="" disabled="disabled" selected="selected"
                            )=langTmpl.defaultSelect                     

        when 'stateProv'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_State_Prov"
                    aria-required="true")
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect

        when 'mmmJobRole1'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup="C_Job_Role1"
                    aria-required="true")  
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect                    
                        each opt in langTmpl[item].options
                            include select\select__option.pug

        when 'mmmIndustry1'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup=""
                    aria-required="true")  
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect                    
                        each opt in langTmpl[item].options
                            include select\select__option.pug                        

        when 'salesRequest'
            li(class = addedClasses[item] ? addedClasses[item] : "")
                input(
                    type='checkbox'
                    value=langTmpl[item].value
                    name=item
                    id=""
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    ) 
                label.MMM--blockLabel.MMM--checkboxLabel(
                    for="fe327105")=langTmpl[item].label

        when 'salesRequest1'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=""
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup=""
                    aria-required="true")  
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect                    
                        each opt in langTmpl[item].options
                            include select\select__option.pug 

        when 'custEnq'
            li(class = addedClasses[item] ? addedClasses[item] : "")        
                label.MMM--blockLabel(
                    for="fe327105")=langTmpl[item].label
                textarea.MMM--textInput.MMM--defaultFields.MMM--textInput_textArea(
                    id=""
                    type='textarea'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langTmpl[item].errMessage
                    data-lookup=""
                    aria-required="true")                        


        default 
            include ./_item-custom.pug 

        

+form__field(item, langTmpl, div, addedClasses, staticValidationRules)
