mixin custom_form__field(item, langTmpl, div, addedClasses, staticValidationRules, idGen)
    - var langPath = langTmpl[div];
    - var li_Class = addedClasses[item] ? addedClasses[item] : ""
    li(class = li_Class)
        case langPath[item].type
            when 'text'        
                label.MMM--blockLabel(
                    for=item + 'ID-' + idGen)= langPath[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=item + 'ID-' + idGen
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langPath[item].errMessage
                    aria-required="true")
            when 'checkbox'        
                input(
                    type='checkbox'
                    value=langPath[item].value
                    name=item
                    id=item + 'ID-' + idGen
                    data-rule-required="true"
                    data-msg-required=langPath[item].errMessage
                    ) 
                label.MMM--blockLabel.MMM--checkboxLabel(
                    for=item + 'ID-' + idGen)=langPath[item].label  

            when 'radio'        
                label.MMM--blockLabel(
                    for=item + 'ID-' + idGen)=langPath[item].label
                input.MMM--textInput.MMM--defaultFields(
                    id=item + 'ID-' + idGen
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langPath[item].errMessage
                    )  

            when 'textarea'        
                label.MMM--blockLabel(
                    for=item + 'ID-' + idGen)=langPath[item].label
                textarea.MMM--textInput.MMM--defaultFields.MMM--textInput_textArea(
                    id=item + 'ID-' + idGen
                    type='text'
                    name=item
                    data-rule-required="true"
                    data-msg-required=langPath[item].errMessage
                    aria-required="true")  

            when 'select'        
                label.MMM--blockLabel(
                    for=item + 'ID-' + idGen)=langPath[item].label
                select.js-fancyDropDown.MMM--selectInput.MMM--isVisuallyHidden(
                    id=item + 'ID-' + idGen
                    name=item
                    data-rule-required="true"
                    data-msg-required=langPath[item].errMessage
                    data-lookup=""
                    aria-required="true")  
                        option(
                            value="" disabled="disabled" selected="selected"
                        )=langTmpl.defaultSelect                    
                        each opt in langPath[item].options
                            include select\select__option.pug
            default 
                h3.MMM--blockLabel(
                    for=item + 'ID-' + idGen)=langPath[item] ? langPath[item].label : ""
                p.MMM--txt_italic=langPath[item].subLabel ? langPath[item].subLabel : ""

+custom_form__field(item, langTmpl, div, addedClasses, staticValidationRules, idGen)
