mixin form__field (type, item)
    ul 
        each val in item.fieldsData
            li
                if type === 'hidden'
                    input(
                    type='hidden'
                    name=item.name
                    value= item.vaue ? item.vaue : "" 
                    data-lookup= item.data-lookup ? item.data-lookup : ""
                    id= item.id-lookup ? item.id : "")
                        
                else if (type === 'checkbox')
                    label.MMM--blockLabel.MMM--checkboxLabel 
                        //(for= item.id ? item.id : ""                        
                        //aria-hidden= true)
                        
                        item.label
                        input.MMM--textInput.MMM--defaultFields(
                            type='checkbox'
                            name=item.name
                            value= item.vaue ? item.vaue : "on" 
                            data-lookup= item.data-lookup ? item.data-lookup : ""
                            id= item.id ? item.id : ""
                            checked)                                                        
                else if (type === 'email')
                    label.MMM--blockLabel
                        item.label
                    input.MMM--textInput.MMM--defaultFields(
                        type='email'
                        name=item.name
                        data-rule-required
                        data-msg-required
                        data-rule-email= true
                        value= item.vaue ? item.vaue : "on" 
                        data-lookup= item.data-lookup ? item.data-lookup : ""
                        id= item.id ? item.id : "")                                
                                
                else if (type === 'text')
                    label.MMM--blockLabel
                        item.label
                    input.MMM--textInput.MMM--defaultFields(
                        type='text'
                        name=item.name
                        data-rule-required
                        data-msg-required
                        data-rule-email= true
                        value= item.vaue ? item.vaue : "on" 
                        data-lookup= item.data-lookup ? item.data-lookup : ""
                        id= item.id ? item.id : ""
                        checked)                            

+form__field(item)
